.social_activities {
  height: 1000px;
}

.activity_content_area {
  margin-top: 60px;
}
.actvity_content_holder {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.activities_holder {
  width: 60%;

  margin-right: 40px;
  margin: auto;
}

.banner {
  width: 100%;
  height: 650px;
  margin-bottom: 100px;
  background-color: rgb(41, 43, 44);
  box-shadow: #0fa0ce 8px 8px;
}
.image_section {
  width: 100%;
  height: 70%;
}

.image_section img {
  object-fit: cover;
  width: 100%;
  padding: 20px;
}

.caption_section {
  width: 100%;
  height: 30%;

  color: honeydew;
}

.caption_section h4 {
  margin: 10px 14px;
  font-weight: 400;
  font-size: 20px;
}

.caption_section hr {
  background-color: #0fa0ce;
  width: 25%;
  margin-left: 10px;
}

.caption_section p {
  margin-left: 14px;
}
.chart_holder {
  width: 30%;
}

.chart_holder ul {
  margin-bottom: 5px;
}

.chart_holder li {
  background-color: #eee;
  width: 100%;
  height: 50px;

  float: left;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 0 0 0;

  color: gray;
}

.chart_holder li > a {
  text-decoration: none;

  color: rgb(95, 92, 92);
  font-weight: 500;
  width: 100%;
  display: flex;

  justify-content: center;
  padding-top: 12px;
  height: 50px;
}

.chart_holder ul :hover {
  background-color: #0fa0ce;
  color: white;
}

@media (max-width: 768px) {
  .chart_holder {
    width: 0%;
    display: none;
  }
  .activities_holder {
    min-width: 100%;
  }
  .image_section {
    max-height: 50%;
  }
  .caption_section {
    height: 50%;
  }
  .banner {
    max-height: 500px;
  }
}

.activities_holder {
  width: 60%;

  margin-right: 40px;
  margin: auto;
}
.image_section {
  width: 100%;
  height: 70%;
}
